[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = https://github.com/foundationkit/CocoaLumberjack
[submodule "BlocksKit"]
	path = BlocksKit
	url = git@github.com:foundationkit/BlocksKit.git
[submodule "jrswizzle"]
	path = jrswizzle
	url = git@github.com:foundationkit/jrswizzle.git
[submodule "EGOImageLoading"]
	path = EGOImageLoading
	url = git@github.com:foundationkit/EGOImageLoading.git
[submodule "EGOCache"]
	path = EGOCache
	url = git@github.com:foundationkit/EGOCache.git
[submodule "MagicalRecord"]
	path = MagicalRecord
	url = git@github.com:foundationkit/MagicalRecord.git
[submodule "NYXImagesUtilities"]
	path = NYXImagesUtilities
	url = git@github.com:foundationkit/NYXImagesUtilities.git
[submodule "MAZeroingWeakRef"]
	path = MAZeroingWeakRef
	url = git@github.com:foundationkit/MAZeroingWeakRef.git
